[submodule "games/mt_game"]
	path = games/mt_game
	url = https://github.com/minetest/minetest_game
[submodule "minetest"]
	path = minetest
	url = https://github.com/ev2-1/minetest-5.4.1-docker
[submodule "minetest_instancer"]
	path = minetest_instancer
	url = https://github.com/ev2-1/minetest_instancer
[submodule "multiserver/plugins/chatcommands"]
	path = multiserver/plugins/chatcommands
	url = https://github.com/HimbeerserverDE/mt-multiserver-chatcommands
[submodule "multiserver/plugins/chatcommands-plus"]
	path = multiserver/plugins/chatcommands-plus
	url = https://github.com/ev2-1/mt-multiserver-chatcommands-plus
[submodule "multiserver/proxy"]
	path = multiserver/proxy
	url = https://github.com/ev2-1/mt-multiserver-proxy.git
	branch = ev2-1-dev
[submodule "multiserver/plugins/signs"]
	path = multiserver/plugins/signs
	url = https://github.com/ev2-1/solid-signs-chainsaw
	
