{
	"TelnetAddr": "[::]:40010",

	"Servers": [
		{
			"Name": "hub",
			"Addr": "minetest_hub_01:30000",
			"MediaPool": "micl2"
		}
	],
	"FallbackServers": [
		"hub"
	],
	"Groups": {
		"default": [
			"default"
		]
	},
	"ForceDefaultSrv": true
}
